<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id44.mizuki.auth">
    <application>
        <activity
            android:name=".ui.AuthenticationActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="id44.mizuki"
                    android:scheme="oauth2redirect" />
            </intent-filter>

        </activity>
    </application>
</manifest>
