<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id44.mizuki.signin">
    <application>
        <activity
            android:name=".presentation.ui.SignInActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/auth_client_name"
                    android:scheme="@string/auth_oauth_scheme" />
            </intent-filter>

        </activity>
    </application>
</manifest>
